{% extends 'base.html' %}  <!-- Extiende de base.html -->
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
{% endblock %}

  

{% block menu %}

{% endblock %}

{% block content %}
    <main>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="{% url 'home' %}"   class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">Home</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">       
                <li>
                    <a href=""  class="nav-link text-white">
                        Usuarios
                    </a>
                </li>
                <li>
                    <a  class="nav-link text-white">
                        Colegio
                    </a>
                </li>
                <li>
                    <a  class="nav-link text-white">
                        Cursos
                    </a>
                </li>    
                <li>
                    <a href="?section=apariencia" class="nav-link text-white">Apariencia</a>
                </li>   
                <li>
                    <a href="?section=menu" class="nav-link text-white">
                        Menu
                    </a>
                </li>          
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" >Ajustes</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
        <!--final del sidebar-->
        <div class="container mt-5" style="width: 70%;" >
            {% if current_section == "apariencia" %}
                {% include "apariencia.html" %}
            {% elif current_section == "usuarios" %}
                <!-- Aquí puedes incluir el contenido correspondiente a Usuarios si lo deseas -->
            {% elif current_section == "menu" %}
                {% include "menu.html" %}
            {% endif %}
        </div>
        
    </main>

{% endblock %}

{% block footer %}
{% endblock %}

